body {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2)),
    url(https://wallpapers.com/images/high/communication-pictures-hs9vmn71ckcwlj4e.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
